@font-face {
    font-family: 851ゴチカクット;
    src: url(851Gkktt_005.ttf);
}
h3{
    font-family: '851ゴチカクット';
}

.container{
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}
/******************************************************/
.header img{
    width: 300px;
    height: auto;
}
.header .btn{
    float: center ;
    width: auto;
}
.twitter-timeline{
    width: 50%;
}
.personal{
    list-style: none;
}
/******************************************************/
.title img{
    width: 500px;
    height: auto;
    position: absolute;
}
.slider {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}
.slider-item {
    width: 300px;
    float: left;
}
.slideshow {
    position: relative;
    float: right;
    width: 800px;
    height: auto;
    }
    .slideshow img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        }
    .slideshow img.active {
        opacity: 1;
        }
/******************************************************/
.menu{
    align-items: center;

}
.nav-item{
    display: flex;
    border: 0px solid;
    text-align: center;
    align-items: center;
    width: 250px;
    height: 50px;
    transition: all .5s ease;
    transform: skew(-15);
}
.nav-item:hover{
    text-align: right;
    background-color: #19B5FE;
    transition: all .5s ease;
}
.txt{
    font-family: '851ゴチカクット';
    font-size: large;
    text-align: center;
    color: black;
}
/******************************************************/

/******************************************************/
.footer{
    float: right;
}
.footer img{
    width: 40px;
    height: 40px;
}