@font-face {
    font-family: 851ゴチカクット;
    src: url(851Gkktt_005.ttf);
}
.container{
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.body{

}
.backgraund img{
    top: 10%;
    bottom: 10%;
    right: 0%;
    left: 0%;
    height: 80%;
    width: 100%;
    position: absolute;
}
/******************************************************/
.header img{
    width: 300px;
    height: auto;
}
.header .btn{
    float: center ;
    width: auto;
}
.twitter-timeline{
    width: 50%;
}
.personal{
    list-style: none;
}
/******************************************************/
.title img{
    width: 35%;
    height: auto;
    position: absolute;
    transform: translate(100px);
    transition: all .3s ease;
}
.title img:hover{
    width: 36%;
    height: auto;
    position: absolute;
    transform: translate(100px);
    transition: all .3s ease;
}
/******************************************************/
.slideshow {
    position: relative;
    margin: auto;
    width: 50%;
    }
    .slideshow img {
        position: absolute;
        top: 0%;
        bottom: 0%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        }
    .slideshow img.active {
        opacity: 1;
        }
/******************************************************/
.menu{
    background-color: #19B5FE;
    position: absolute;
    display: block;
    left: -45%; /* メニューを左に隠す */
}
.show {
    margin: auto;
    left: 0; /* メニューを表示する */
}
.nav-item{
    display: block;
    border: 0 solid;
    width: 100%;
    height: 80px;
    transition: all .5s ease;

    font-family: '851ゴチカクット';
    font-size: xxx-large;
    text-align: center;
    color: black;
}
.nav-item:hover{
    background-color: #3584bb;
    transition: all .5s ease;
}
/******************************************************/
.menu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
/******************************************************/
.footer{
    float: right;

    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer img{
    width: 40px;
    height: 40px;
    -filter:grayscale( );
}